doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NPM for CSS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 NPM for CSS

      section
        h2 Wait, what?
        img(src="images/what.gif")

      section
        h2 NPM
        h3 Not just node, not just JavaScript
      section
        ul
          li <a href="https://www.npmjs.com/package/normalize.css">normalize.css</a>
          li <a href="https://www.npmjs.com/package/normalize.css">Pure CSS</a>
          li <a href="https://www.npmjs.com/package/animate.css">animate.css</a>
          li <a href="https://www.npmjs.com/package/suitcss">suit css</a>
          li <a href="https://www.npmjs.com/package/suitcss">Bootstrap</a>

      section
        h2 How do you NPM?
        h3 Package.json
        pre
          code.language-javascript.
            {
              "style": "./css/mycss.css"
            }
      section
        img(src="images/thumbsup.gif")

      section
        h2 Now what?
      section
        h2 Make Things
      section
        h2 But first
      sections
        h2 Tools
        ul
          li <a href="https://github.com/reworkcss">Rework</a>
          li <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>
        

    script(src='build/build.js')